@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bold;
    
}

*{
    margin: 0;
    padding: 0;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(230, 218, 218);
    /* height: 135vh; */
    width: 100vw;
    flex-direction: column;
    overflow-x: hidden;
}

.container{
    height: 140vh;
    width: 70vw;
    background-color: white;
    border-radius: 12px;
    border: 20px solid transparent;
    animation: changeBorder 14s ease-in-out  infinite  ;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

@keyframes changeBorder {
    0%{
        border: 15px solid red;
    }

    20%{
        border: 15px solid pink;
    }

    40%{
        border: 15px solid purple;
    }

    60%{
        border: 15px solid blue;
    }

    80%{
        border: 15px solid green;
    }

    100%{
        border: 15px solid orange;
    }
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.form h1{
    margin-bottom: 20px;
}

.p1{
    font-size: 18px;
    font-weight: bold;
}

.name{
    font-size: 20px;
    padding: 8px 10px;
    width: 700px;
    margin-bottom: 20px;
}

.p2{
    font-size: 30px;
}

.age{
    font-size: 20px;
    padding: 8px 10px;
    width: 700px;
    margin-bottom: 20px;
}

.email{
    font-size: 20px;
    padding: 8px 10px;
    width: 700px;
    margin-bottom: 20px;
}

.country{
    font-size: 20px;
    padding: 8px 10px;
    width: 725px;
    cursor: pointer;
    margin-bottom: 20px;
}

.gender{
    font-size: 20px;
    padding: 8px 10px;
    width: 725px;
    cursor: pointer;
    margin-bottom: 20px;
}

.religion{
    font-size: 20px;
    padding: 8px 10px;
    width: 725px;
    cursor: pointer;
    margin-bottom: 20px;
}

.hobby{
    font-size: 20px;
    padding: 8px 10px;
    width: 725px;
    cursor: pointer;
}

.next{
    margin-top: 22px;
    padding: 4px 25px;
    font-size: 20px;
    background-color: rgb(46, 199, 46);
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: .4s;
}

.next:hover{
    background-color: white;
    border: 2px solid rgb(46, 199, 46);
    color: rgb(46, 199, 46);
}

footer{
    display: flex;
    height: 10vh;
    width: 100vw;
    background-color: rgb(84, 84, 236);
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

span{
    font-size: 20px;
    color: red;
}
.txtarea{
    padding: 2px 10px;
    width: 700px;
    font-size: 17px;
}